@font-face {
  font-family: "iconfont"; /* Project id 2665592 */
  src: url('iconfont.woff2?t=1626023144818') format('woff2'),
       url('iconfont.woff?t=1626023144818') format('woff'),
       url('iconfont.ttf?t=1626023144818') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjiajiahaowubiankuang:before {
  content: "\e60d";
}

.icon-record-01:before {
  content: "\e739";
}

.icon-yule:before {
  content: "\e699";
}

.icon-zhangdan:before {
  content: "\e6b8";
}

.icon-fangzi:before {
  content: "\e63d";
}

.icon-jiushui:before {
  content: "\e618";
}

.icon-tingzhenqi:before {
  content: "\e607";
}

.icon-paobu:before {
  content: "\e673";
}

.icon-shucai:before {
  content: "\e606";
}

.icon-tianjia:before {
  content: "\e62f";
}

.icon-tubiao:before {
  content: "\e6d8";
}

.icon-feiji:before {
  content: "\e64c";
}

.icon-hanbao:before {
  content: "\e6bc";
}

.icon-gouwu:before {
  content: "\e60c";
}

.icon-jiaotong-01:before {
  content: "\e60a";
}

.icon-shuidian:before {
  content: "\e61c";
}

.icon-huafei:before {
  content: "\e638";
}

