.feiji{
  color:#19A9FE;
}
.hanbao{
  color:#CF9C73;
}
.zhufang{
  color:#CF9C73;
}
.huafei{
  color:#29B5B5;
}
.gouwu{
  color:#BB6BF0;
}
.jiaotong{
  color:#6371EE;
}
.jiushui{
  color:#FF9E4A;
}
.kanbing{
  color:#6E99F6;
}
.jianshen{
  color:#F76666;
}