@import '~@/assets/style/helper.scss';
.show-flex {
  font-size: 14px;
  display: flex;
  flex-direction: cloumn;
  justify-content: center;
  flex-wrap: wrap;
  .show-content {
    margin-top: 1.35rem;
    width: 90%;
    background: white;
    border-radius: 0.666667rem;
    box-shadow: 0px 0.8rem 0.933333rem rgba(209, 212, 226, 0.4);
    .amount {
      display:flex;
      width: 100%;
      margin: 0.8rem 0;
      text-align: center;
      position: relative;
      align-items: center;
      justify-content: center;
      .date {
        left: 1rem;
        font-size: 1rem;
        color: #9e9e9e;
      }
      .amount-number {
        display: inline-block;
        text-align: center;
        font-size: 1.133333rem;
        span {
          padding: 0rem 0.533333rem 0 0.533333rem;
        }
        :nth-child(1) {
          color: #fd7f80;
        }
        :nth-child(2) {
          color: #31d19e;
        }
      }
    }
    .item-content {
      display: flex;
      flex-direction: cloumn;
      justify-content: center;
      flex-wrap: wrap;
      .item {
        width: 100%;
        color:black;
        margin-bottom: 0.833333rem;
        display: flex;
        justify-content: center;
        align-items: center;
        .icon {
          width: 2.5rem;
          height: 2.5rem;
          line-height: 3rem;
          border-radius: 50%;
          background: $linear;
          text-align: center;
          color: white;
          margin-left: 0.666667rem;
        }
        .name-note {
          width: 60%;
          margin-left: 0.8rem;
          span {
            display: block;
          }
          .note {
            font-size: 0.8rem;
            color: #8a8a8a;
            word-wrap: break-word;
          }
        }
        .price {
          font-size: 0.933333rem;
          text-align: center;
          word-wrap: break-word;
          width: 23%;
        }
      }
    }
  }
}